.navigation {
  padding: 20px;
  border-bottom: 1px solid #2a363b;
}
.a {
  margin-right: 80px;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-size: 18px;
  margin-left: 80px;
}

.activeLink {
  composes: link;
  color: #2196f3;
  text-decoration: underline;
}
